.App {
  text-align: center;
}

.main-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-product {
  margin-right: 30px;
}

.search-and-view {
  margin-left: 30px;
  
}

.styled-table {
  table-layout:fixed;
  color: #373737;
  border-collapse: collapse;
  font-size: 0.9em;
  width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.search-products {
  width: 97%;
  border: #292929 2px solid;
  font-size: large;
  padding: 10px 0px 10px 10px;
}

.styled-table thead tr {
  background-color: #292929;
  color: #fff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}


.styled-table tbody tr:hover {
  background-color: #919191;
}
